body {
    background-color: green;
}

div, input {
    margin-left: 9px;
    padding: 3px;
}

#add-grade {
    background-color:black;
    border-radius:42px;
    border:2px solid black;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    font-style:italic;
    padding:12px 30px;
    text-decoration:none;
    margin:12px
}

#count-grades {
    background-color:black;
    border-radius:42px;
    border:2px solid black;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    font-style:italic;
    padding:12px 30px;
    text-decoration:none;
    margin:12px;
}